<div class="nysag-container">

  <button routerLink="/medarbejder">Tilbage</button>

  <h1>Ny sag</h1>

  <button routerLink="/minsag">Tag sag</button>

  <div class="minsag-container table">
    <table>
      <tr>
        <th>Sagsnummer</th>
        <th>Titel</th>
        <th>Kategori</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>1234</td>
        <td>Mit internet virker ikke</td>
        <td>Internet</td>
        <td>Haster</td>
      </tr>
    </table>
  </div>

  <label for="beskrivelse">Beskrivelse:</label>
  <div>
    <textarea id="beskrivelse" name="beskrivelse" rows="10" cols="60" disabled></textarea>
  </div>
</div>
