<div class="opretsag-container">
  <button routerLink="/kunde">Tilbage</button>

  <h1>Opret sag</h1>
  <div>
    <label for="titel">Titel:</label>
    <input id="titel" type="text" placeholder="Indtast titel...">

    <label for="kategori">Kategori:</label>
    <select id="kategori" name="kategori">
      <option value="">Vælg kategori</option>
      <option value="Internet">Internet</option>
      <option value="Fiber">Fiber</option>
      <option value="WiFi">WiFi</option>
      <option value="Router">Router</option>
      <option value="Fakturering">Fakturering</option>
      <option value="Andet">Andet</option>
    </select>
  </div>

  <div>
    <label for="beskrivelse">Beskrivelse:</label>
  </div>
  <textarea id="beskrivelse" name="beskrivelse" rows="10" cols="60" placeholder="Indtast beskrivelse..."></textarea>

  <div>
    <button>Opret sag</button>
  </div>
</div>

