.opretsag-container {
  width: 600px;
  margin: auto;
  padding: 20px;
  text-align: left;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background-color: wheat;
}

.opretsag-container h1 {
  margin-bottom: 30px;
}

.opretsag-container label {
  display: block;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
}

.opretsag-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.opretsag-container button {
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
}

.opretsag-container textarea {
  resize: none;
}
