<div class="login-container">

  <h1>Login</h1>

  <label for="email">E-mail</label>
  <input id="email" type="email" placeholder="E-mail">

  <label for="password">Password</label>
  <input id="password" type="password" placeholder="Password">

  <button>Login</button>

  <div class="role-buttons">
    <button routerLink="/kunde">Kunde</button>
    <button routerLink="/medarbejder">Medarbejder</button>
  </div>

  //midlertidige knapper
  <div class="role-buttons">
    <button routerLink="/minsag">Min sag</button>
  </div>

  <a href="#">Glemt password?</a>

</div>

